<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Angular Demo</title>
</head>
<body>


<div ng-controller="TestController as ctrl">
    <form ng-submit="ctrl.submitForm()">
        <p>
            Name: <input type="text" ng-model="ctrl.userInfo.user.name">
        </p>
        <p>
            Age: <input type="text" ng-model="ctrl.userInfo.user.age">
        </p>
        <p>
            City: <input type="text" ng-model="ctrl.userInfo.address.city">
        </p>
        <p>
            Country: <input type="text" ng-model="ctrl.userInfo.address.country">
        </p>

        <input type="submit" value="Submit">
    </form>
</div>

<article class="scripts">
    <script src="../../lib/angular/angular1.3.js"></script>
    <script src="controller.js"></script>
</article>
</body>
</html>
